<!DOCTYPE html>
<html lang="en">

<head>
    <title>R2Beer2 Command center</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>
	<body>
		<h1>R2Beer2 Command center</h1>

	<div class="jumbotron">
            <h1>Make an LED Blink</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="on" role="button"> Start </a>
            </p>
        </div>



	</body>
</html>
